{%extends 'base.html'%}




{%block main_block%}



<div class="container">
    <div class="my-3">
        <a href="{%url 'employee-add'%}" class="btn btn-info">Addnew</a>
    </div>
   <table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Department</th>
        <th>Picture</th>
        <th>Action</th>
    </tr>
    {%for e in data%}
    <tr>
        <td>{{e.name}}</td>
        <td>{{e.email}}</td>
        <td>{{e.salary}}</td>
        <td>{{e.department}}</td>
        <td>
            {%if e.picture%}

            <img src="{{e.picture.url}}" alt="" class="" height="100px">

            {%endif%}
        </td>
        <td>
            <a href="{%url 'employee-detail' e.id%}" class="btn btn-primary">view</a>


            <a href="{%url 'employee-delete' e.id%}" class="btn btn-secondary">remove</a>

            <a href="{%url 'employee-update' e.id%}" class="btn btn-success">update</a>

        </td>
    </tr>
    {%endfor%}
   </table> 
</div>


{%endblock%}